<section>
    <title>Analysis</title>
    <para>
        The analysis section contains the requirements specification for the current level
        of granularity. It specifies the stake holder requirements, the user work flow,
        the data structures for the exchanged value objects and the service contract with 
        the pre- and post-conditions
        and quality requirements.  
    </para>
    
#parse("templates/analysis/functionalRequirements/functionalRequirements.vm")    
#parse("templates/analysis/userWorkflow/userWorkflow.vm")
## #parse("analysis/servicesContract/servicesContract.txt")

</section>
