/* This CSS styles a periodic table in the "urn:physics:elements" namespace for
simple interactive display in a browser. Elements are rendered as coloured blocks
(based on them being liquid/solid/gas).
*/


/* Periodic table as a whole */
periodicTable
{
    display: block;
    color: white;
    background-color: black;
    font-family: sans-serif;
    font-size: 10pt;
}

/* Individual atoms (display as small floating blocks, 
by default as grey - state unknown) */
element
{
    display: block;
    width: 5em;
    height: 5em;
    margin: 0.2em;
    padding: 1em;
    border: 2px solid #BBB;
    background-color: #999;
    float: left;
    text-align: center;
}

/* Color according to states */
element[naturalState=gas]
{
    background-color: #339966;
}
element[naturalState=liquid]
{
    background-color: #336699;
}
element[naturalState=solid]
{
    background-color: #993366;
}

/* If the user's mouse moves over, change border */
element:hover
{
    border-color: white;
}

/* Contents of the box */
element name
{
    display: block;
    font-style: italic;
}

element symbol
{
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.2em;
}

element atomicNumber
{
    display: block;
}

/* Do not show atomic weight by default */
element atomicWeight
{
    display: none;
    font-family: monospace;
    color: #CCC;
}

/* ...only when user's mouse hovers over */
element:hover atomicWeight
{
    display: block;
}