#set($stakeholders = $urdadModelQueryInterface.getStakeholdersForUseCase($targetUseCase))
#if ($stakeholders.size() > 0)
<section>
    <title>Stake holders</title>
    <para>
        The following stake holders have an interest in the $targetUseCase.name use case:
            <itemizedlist>
                #foreach($stakeholder in $stakeholders)
                <listitem><formalpara>
                    <title>$stakeholder.name</title>
<para>                    
#insertAnnotations($stakeholder,$true)
</para>                    
                </formalpara></listitem>
                #end
            </itemizedlist>
    </para>
</section>
         #end   
