<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- Servlets -->
  <servlet>
    <servlet-name>LoanCalculatorServlet</servlet-name>
    <servlet-class>za.co.solms.finance.calculators.LoanCalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanCalculatorServlet</servlet-name>
    <url-pattern>/LoanCalculatorServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <!-- EJB References (java:comp/env/ejb) -->
  <ejb-ref>
    <ejb-ref-name>ejb/LoanCalculator</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>za.co.solms.finance.calculators.LoanCalculatorHome</home>
    <remote>za.co.solms.finance.calculators.LoanCalculator</remote>
  </ejb-ref>
</web-app>
