/* Root container */
people
{
    display: block;
    font-size: 10pt;
    font-family: Georgia, serif;
    padding: 2em;
}

people:before
{
    content: "People";
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

people:after
{
    content: "(C) Copyleft 2006 Solms TCD";
    display: block;
    font-style: italic;
    color: #CCC;
    border: 1px solid #CCC;
    border-width: 0 0 1px 0;
    margin: 2em;
}


/* Each Person */
person
{
    display: block;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

person[gender="Female"]
{
    background-color: #FFDDDD;
}

person[gender="Male"]
{
    background-color: #DDDDFF
}

person name
{
    margin: -0.5em 0 0.5em -0.5em;
    display: block;
    font-size: 1.2em;
    padding: 0.25em;
    background-color: #333;
    color: white;
    border-radius: 0.5em;
}

person id
{
    display: block;
    color: red;
    font-weight: bold;
}

person > id:before
{
    content: "ID Number: ";
    font-weight: normal;
    color: black;
}

person > friends
{
    display: none;
}