/* Simple style sheet for Weather Forecast presentation
   layer web application */

html
{
    background-color: white;
    padding: 1em;
    color: #333;
    font-family: georgia, serif;
}

body
{
    background-color: #7AD;
    border: 3px solid #369;
    padding: 0.5em;
    -moz-border-radius: 2em;
}

em
{
    color: #C00;
}

h1
{
    color: #369;
    margin: 0.5em 0 0.2em 0.5em;
    padding: 0;
    font-family: sans-serif;
    font-size: 2em;
}

h2
{
    color: white;
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 0 0 0 1em;
    margin: 0 0 1.5em 0;
}

p.links
{
    margin: 1em;
    border: 1px solid gray;
    border-width: 1px 0 0 0;
    text-align: right;
}

div.forecast
{
    border: 2px solid #369;
    border-width: 2px 0 0 0;
    margin: 0.5em;
    padding: 2.1em;
    padding-left: 175px;
    background-repeat: no-repeat;
}

/* Custom icon images for different conditions */
div.Rain
{
    background-image: url('../images/rain.png');
}
div.Sunny
{
    background-position: 5px -25px;
    background-image: url('../images/sun.png');
}
div.Snow
{
    background-position: -130px -20px;
    background-image: url('../images/snow.png');
}
div.PartlyCloudy
{
    background-position: -25px -25px;
    background-image: url('../images/partlycloudy.png');
}
div.Cloudy
{
    background-image: url('../images/cloudy.png');
}

/* Form input */
fieldset
{
    margin: 1em;
    border: 2px solid #369;
}

input[type=text]
{
    border: 2px solid black;
    width: 40%;
}

label
{
    color: black;
}

input[type=submit]
{
    background-color: #369;
    color: white;
    border: 2px solid white;
}