/* Cascading Style Sheet for the simulated Google front page
   Author: Solms TCD
   Date: May 2004
*/
body
{
    text-align: center;
    background-color: white;
    font-size: 14px;
    font-family: sans-serif;
    margin: auto;
    width: 550px;
}

/* Google Heading */
h1
{
    font-family: fantasy;
    font-weight: normal;
    font-size: 4em;
    margin: 0;
    color: green;
}

h1:first-letter
{
    font-family: cursive;
    font-style: italic;
    font-size: 1.5em;
    color: grey;
}

/* Search Form Elements */
form#searchForm
{
    margin: auto;
    text-align: center;
    background-color: #BBFFBB;
    border: 1px dotted green;
    width: 75%;
    padding: 5px;
    float: left;
    margin-bottom: 5px;
}

input[type="text"]
{
    padding: 3px;
    margin: 3px;
    border: solid green 2px;
    width: 95%;
}

input[type="text"]:focus, input[type="text"]:hover
{
    border-color: red;
}

input[type="submit"]
{
    background-color: green;
    border: 1px solid white;
    color: white;
    padding: 2px;
    margin: 3px;
    font-size: 0.75em;
}

div#buttons
{
    text-align: right;
    padding-right: 5px;
}

/* Links and Menus */
div.sections
{
    border-color: green;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 5px;
    margin-bottom: 5px;
}

div.options
{
    float: right;
    text-align: left;
    width: 20%;
    font-size: 0.8em;
}

div.options a
{
    text-decoration: none;
    display: block;
    margin: 0.5em 0 0.5em 0;
}

div.services
{    
    clear: both;
    border-color: green;
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 5px;
}

a
{
    color: #FF6600;
}

a:hover
{
    color: red;
    text-decoration: none;
}

div.sections a
{
    font-weight: bold;
    margin: 0 1em 0 1em;
}

div.sections em[title="New!"] a:after
{
    content: "*";
}

div.copyright
{
    margin: 10px;
    font-size: 0.8em;
    color: grey;
}