/* This Style Sheet provides a fun, 1980s green-screen look to
    Google. Since the page is keyboard-navigable, this is all the more
    feasible.
    Author: D.Loubser, Solms TCD
*/

html
{
    background-color: black;
}
body
{
    background-color: #000900;
    color: #33CC00;
    font-family: VT100, monospace;
    font-size: 12px;
    padding: 1em 1em 1em 3em;
    margin: 2em;
}

/* RETRO HEADING */
h1
{
    margin: 0 0 0.1em -1em;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    border-color: inherit;
    border-style: dashed;
    border-width: 0 0 1px 0;
}
h1:after
{
    content: " Terminal\2122";
}

/* Retro Links */
a
{
    color: inherit;
    text-decoration: none;
}
a:link
{
    text-transform: uppercase;
}
a:visited
{
    text-transform: none;
}
a:hover
{
    background-color: #002900;
}
a:before
{
    content:"<";
}
a:after
{
    content:">";
}
em
{
    font-style: normal;
}
em:after
{
    content: "*";
}

/* Form Controls */
form#searchForm
{
    margin: 3em 0 3em 0;
}
input[type="text"][name="q"]:before
{
    content: "Search For: [";
}
input[type="text"]
{
    color: inherit;
    font-family: inherit;
    text-transform: uppercase;
    width: 30em;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #002900;
}
input[type="text"]:before
{
    content: "[";
}
input[type="text"]:after
{
    content: "]";
}
input[type="submit"], input[type="button"]
{
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
input[type="submit"]:before
{
    content: "[";
}
input[type="submit"]:after
{
    content: "]";
}
div.sections
{
    margin-left: -1.5em;
}
div#buttons
{
    margin-top: 0.25em;
    margin-left: 7em;
}
div.options:before
{
    content: "SEARCH OPTIONS:";
    display: block;
    border-color: inherit;
    border-style: dashed;
    border-width: 0 0 1px 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    width: 25%;
}
div.services:before
{
    content: "GOOGLE SERVICES:";
    display: block;
    border-color: inherit;
    border-style: dashed;
    border-width: 0 0 1px 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    width: 25%;
}
div.copyright
{
    border-color: inherit;
    border-style: dashed;
    border-width: 1px 0 0 0;
    margin: 1.5em 0 0 -2em;
}
