// CSS to visually style the XHTML-transformed periodic table of the elements

/* General structure / layout */
html
{
    background-color: #666;
    font-size: 10pt;
    font-family: sans-serif;
}

body
{
    margin: 15px auto 0 auto;
    width: 95%;
    border: 1px solid black;
    background-color: white;
    padding: 1em;
}

/* The containers for all types of elements */
div.gases, div.liquids, div.solids
{
    margin: 0.5em;
    padding: 0.5em;
    width: 28%;
    float: left;
    border: 1px solid #CCC;
    -moz-border-radius: 1em;
}

/* The headings */
div.gases h2, div.liquids h2, div.solids h2
{
    margin: 0.75em;
    font-size: 1.2em;
    color: #666;
}

/* Descriptions added using CSS */
div.gases h2:after, div.liquids h2:after, div.solids h2:after
{
    display: block;
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}
div.gases h2:after
{
    content: "(boil at room temperature)";
}
div.liquids h2:after
{
    content: "(melt at room temperature)";
}
div.solids h2:after
{
    content: "(neither melt nor boil at room temp)";
}

/* Specific variations for each element type */
div.gases
{
    background-color: #DDFFDF;
}
div.liquids
{
    background-color: #DDDFFF;
}
div.solids
{
    background-color: #FFDFDD;
}

/* Each atom / element */
div.atom
{
    margin: 0 0 1em 0;
    padding: 0.5em;
    background-color: #EEEEEE;
    -moz-border-radius: 1em;
}

/* heading */
div.atom h3
{
    margin: 0 0 0.5em 0;
}

/* Atomic number (emphasised in heading) */
div.atom h3 em
{
    background-color: #999;
    font-weight: bold;
    padding: 0.2em;
    margin-right: 0.5em;
    color: white;
    -moz-border-radius: 0.75em;
}

div.atom td.label
{
    padding: 0 1em 0 0;
    color: #009;
}

div.atom td
{
    border: 1px solid white;
    border-width: 0 0 1px 0;
}

/* Each electron configuration within an atom */
div.atom td.electronConfiguration
{
    font-family: monospace;
    color: red;
}

/* Footer / disclaimer at the end */
div.footer
{
    font-style: italic;
    font-size: 0.75em;
    background-color: #DDD;
    color: grey;
    clear: both;
    padding: 0.5em;
}