#header {
position: relative;
background-color: #036fab;
color: white;
padding: 5px;
margin: 0px 0px 10px 0px;
}
#navigation {
position: relative;
background-color: #036fab;
color: white;
padding: 5px;
margin: 0px 0px 10px 0px;
}
#footer {
position: relative;
background-color: #c2dfef;
padding: 5px;
margin: 10px 0px 0px 0px;
}
#leftMargin {
float: left;
background-color: #dddddd;
padding: 5px;
width: 50px;
}
#rightMargin {
float: right;
background-color: #dddddd;
padding: 5px;
width: 100px;
}
#content {
position: relative;
background-color: #dddddd;
padding: 5px;
}
#header a:link, #header a:visited {
color: white;
font-weight : bold;
text-decoration: none;
}
#header a:link:hover, #header a:visited:hover {
color: black;
font-weight : bold;
text-decoration : underline;
}
