\begin{verbatim}
@media screen, print
{
            contract
            {
	  font-size: 12pt;
	  display: block
	}  
	property
	{
	  display:block
	  border-style:solid
	  margin:20px
	}  
	property streetAddress
	{
	  font-size: 14pt;
	  font-weight: bold;
	}
	property photo
	{
	  color: blue
	}  
	stand
	{
	  display: block;
	}
	
	agent
	{
	  display:block
	}  
	agent details
	{
	  color: blue
	}  
}

\end{verbatim}
