\begin{verbatim}
@media screen, print
{
	shippingConfirmation
	{
	  font-size: 10pt;
	  margin: 10px;
	}
	
	title, paragraph
	{
	  display: block;
	  border-style: solid;
	}
	
	title
	{
	  font-size: 14pt;
	  font-weight: bold;
	}
	
	paragraph
	{
	  margin: 30px;
	  text-indent: 1em;
  }	
	
	orderId, dateShipped, trackingNumber  	
	{
	  background-color: yellow
	}
}

\end{verbatim}
