<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <servlet>
      <servlet-name>AverageServlet</servlet-name>
      <servlet-class>
        za.co.solms.ejb3.sessionBean.stateless.average.AverageServlet
      </servlet-class>
   </servlet>
   
   <welcome-file-list>
     <welcome-file>average.jsp</welcome-file>
   </welcome-file-list>
       
   <servlet-mapping>
      <servlet-name>AverageServlet</servlet-name>
      <url-pattern>/AverageCalculator</url-pattern>
   </servlet-mapping>

</web-app>
