<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <!-- Used in admin and deployment tools -->
    <display-name>First Servlet Example</display-name>
    <description>
        A basic application to illustrate J2EE WAR structure, 
        and to introduce Servlets.
    </description>
    
    <!-- We declare our servlet -->
    <servlet>
        <servlet-name>ExampleServlet</servlet-name>
        <servlet-class>example.basic.BasicServlet</servlet-class>
    </servlet>
    
    <!-- ...and map a URI to it -->
    <servlet-mapping>
        <servlet-name>ExampleServlet</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>   
    
    <!-- This makes sure our index page is served by default -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
</web-app>
