/* Style rules for the simple MathML example */

/* Normal XHTML Elements */
html
{
    background-color: #336699;
    font-family: sans-serif;
    font-size: 12px;
}

body
{
    width: 75%;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border: 1px solid black;
    padding: 1em;
}

body:after
{
    content: "(C) Solms TCD, No Rights Reserved.";
    display: block;
    color: grey;
    border-top: 1px solid grey;
    margin-top: 2em;
    padding: 1em;
}

h1
{
    margin-top: 0;
}

/* Mathematical Elements */
math
{
    color: red;
    font-size: 150%;
}