<?xml version="1.0" encoding="UTF-8"?>
<persistence 
    xmlns="http://java.sun.com/xml/ns/persistence" 
    version="1.0">
    
    <!-- Define any persistence units here. Typically something like: -->

    
    <!-- Note: This persistence unit contains Glassfish-specific configuration to 
        automatically create and drop tables. Add properties for your other server(s)
        as per their respective documentation -->
    <!-- 
    <persistence-unit name="persistenceUnit1">
        <properties>

            <property name="toplink.ddl-generation" value="drop-and-create-tables"/> 
        </properties>
    </persistence-unit>
    -->
</persistence>