
div.header
{
    font-size: 150%;
    text-align: center;
    color: #4b9998;
    padding: 15px;
    margin-left: 0px;
}

body
{
    font-size: medium;
    color: black;
}

.mainContent
{
    padding: 15px;
    margin-top: 10px;
    margin-left: 150px;
}

.navigation
{
    font-size: 115%;
    margin-top: 10px;
    padding-top: 15px;
    margin-right: 10px;
    width: 130px;
    float: left;
}

h1, h2, h3, h4
{
    color: #4b9998;
}

h1
{
    font-size: 200%
}

h2
{
    font-size: 160%
}

h3
{
    font-size: 130%
}    

h4
{
    font-size: 115%
}

table
{
    margin-left:auto;
    margin-right:auto;
}

img.logo
{
    height: 6em;
    text-align:center;
    margin-left:10px;
    margin-right:10px;
}

img.logoSmall
{
    height: 3em;
    text-align:center;
    padding-bottom: 0.5em;
    margin-left:10px;
    margin-right:10px;
}

a:link 
{
    color:  #4b9998;
    text-decoration: none;
    border:none;
}

a:visited
{
    color: maroon;
    text-decoration: none;
    border:none;
}    

img
{
    border: none;
}    