body 
{
	font-family: arial, helvetica, serif;
	font-size: 0.8em;
}

h1 
{
	font-size: 2em;
}

h2 
{
	font-size: 1.5em;
}

a 
{
	text-decoration: none;
}

strong 
{
	font-style: italic;
	text-transform: uppercase;
}