#page
{
    margin-right:15px;
    margin-bottom:15px;
}

#header
{
    height:80px;
    width:100%;
}

#logo
{
    background-image: url(/resources/images/weatherLogo.jpg);
    background-repeat:no-repeat;
    width:80px;
    float:left;
    display:inline;
}

*.auxillaryContentHeader
{
   font-size:large;
   font-weight:bold;
}

#title
{
    float:left;
    display:inline;
    padding-left: 40px;
}

#navigation 
{
    display:block;
    
    background-color: #036fab;
    width:100%;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#content 
{
    width:70%;
    float:left;
    display:inline;
    position:relative;
    background-color:yellow;
    padding:20px;
}

#auxillaryContent
{
    width:25%;
    float: right;
    display:inline;
    background-color: #dddddd;
    padding:20px;
}

#footer 
{
    display:block;
    bottom:0;
    width:100%;
    position:absolute;
    font-style:italic;
    background-color: #c2dfef;
    margin: 10px 0px 0px 0px;
}

.submenuLabel
{
    font-size:1.2em;
    margin-right:1em;
    border-right:gray
}

.menuItemLabel
{
    font-size:1.2em;
}
