<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <!-- Used in admin and deployment tools -->
    <display-name>Servlet Examples</display-name>
    <description>
        Illustrates the usage of Java Servlets
    </description>
    
    <!-- Declare servlets -->
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>example.basic.EchoServlet</servlet-class>
    </servlet>
    
    <!-- Map URIs to Servlets -->
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>   
    
    <!-- This makes sure our index page is served by default -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
</web-app>
